In [7]:
# Convert .mat files to .csv files

import scipy.io
import numpy as np
import os

directory = 'datasets/EEG/Subject 4'
for filename in os.listdir(directory):
    if filename.endswith(".mat"):
        data = scipy.io.loadmat(f'datasets/EEG/Subject 4/{filename[:-4]}')
        for i in data:
            if '__' not in i and 'readme' not in i:
                np.savetxt((f"datasets/EEG/Subject 4/{filename[:-4]}.csv"), data[i], delimiter=',')

In [9]:
import pandas as pd
l1 = pd.read_csv("datasets/EEG/Subject 4/Finalleft1.csv")

In [10]:
l1.describe()

,0.000000000000000000e+00,0.000000000000000000e+00.1,0.000000000000000000e+00.2
count,81919.000000,81919.000000,81919.000000
mean,0.063538,0.135158,-0.213382
std,29.450056,104.501344,57.031354
min,-413.000000,-1683.000000,-923.000000
25%,-3.000000,-1.000000,-4.000000
50%,0.000000,0.000000,0.000000
75%,5.000000,7.000000,3.000000
max,306.000000,1211.000000,647.000000